<div class="container-fluid" style="background-color:#8b9dc3; margin-top: 50px">
   <div class="row">
      <div class="col-sm-4">
         <h4 class="title">Nxbooks</h4>
         <p>Nxbooks is online community for book lovers to share reviews on their favourite books and connect with other like-minded book lovers. Join us now to share your reviews and read other users' reviews, and also leave a comment for them. </p>
         <p>Upcoming features: Write your own book and get published by renowned publishers! </p>
         <ul class="social-icon">
            <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
         </ul>
      </div>
      <div class="col-sm-4">
         <h4 class="title">Follow Us</h4>
         <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Blog</a></li>
         </ul>
      </div>
      <div class="col-sm-4">
         <h4 class="title">Contact Us</h4>
         <p><b>Address:</b> AG-7, Glomac Damansara, Jalan Damansara, Tmn Tun Dr Ismail, 60000</p>
         <p><b>Phone: </b>03-9212 8158</p>
         <p><b>Email: </b>info@facebnb.com</p>
         <p></p>
      </div>
   </div>
   <hr>
   <div class="row text-center"> © 2018. Coded by Lim Chia Hooi</div>
</div>

